.account-container h2 {
    padding-left: 30px;
    padding-top: 30px;
}

.account-info {
    padding: 30px;
    font-size: 24px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 0;
    gap: 15px;
    padding: 30px;
}

.edit-input {
    padding: 10px;
    border-radius: 5px;
    border: solid 2px rgb(219, 219, 219);
    outline: none;
}

.edit-btn {
    margin-left: 30px;
    width: 190px;
    padding: 5px 20px 5px;
    border-color: transparent;
    border-radius: 5px;
    background-color: #173042;
    color: white;
}

.delete-btn {
    background-color: rgb(146, 23, 23);
}

.save-btn,
.cancel-btn {
    border-color: transparent;
    border-radius: 5px;
    padding: 5px;
}

.save-btn {
    background-color: #173042;
    color: white;
}

.cancel-btn {
    background-color: rgb(177, 177, 177);
}


.all-surveys-container {
    max-width: 90%;
    width: 70%;
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: -1px 3px 15px 5px rgba(0, 0, 0, 0.41);
}

.survey-header {
    padding-left: 30px;
    padding-top: 30px;
}

.survey-container {
    padding: 30px;
}

@media screen and (max-width: 768px) {
    .account-info {
        font-size: 16px;
    }

    .all-surveys-container {
        width: 100%;
        height: 70vh;
        overflow-y: scroll;
        margin-left: 20px;
    }

    .edit-form {
        width: 100%;
        padding: 20px;
    }

    .edit-btn {
        width: 30vw;
        font-size: 3vw;
    }

    .delete-btn {
        margin-top: 15px;
        width: 40vw;
    }

}