.results {
    font-size: 50px;
    display: block;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

.map-container {
    width: 100vw;
    max-width: 2000px;
    height: fit-content;
    justify-content: space-between;
    text-align: center;
    display: flex;
    padding: 30px;

}

.map1,
.map2 {
    width: 48%;
    height: 600px;
    margin: auto;
}

.carousel {
    width: 500px;
    height: 300px;
    background-color: #173042;
    color: white;
}



.custom-prev,
.custom-next {
    font-size: 24px;
}

@media screen and (max-width: 1000px) {
    .map-container {
        flex-direction: column;
        gap: 80px;
    }

    .map1,
    .map2 {
        width: 80%;
    }

}

@media screen and (max-width: 767px) {

    .map1,
    .map2 {
        width: 100%;
        height: 400px;
    }
}