* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- TABLET / DESKTOP ---------------- */
/* Header container */
.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #173042;
}

/* Default Navbar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #173042;
  color: white;
  width: 100%;
  padding: 3rem 4rem;
}

.nav_left,
.nav_right {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: whitesmoke; */
}

.nav_logo {
  width: 8em;
  height: 8em;
}

.nav_link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav_link:hover {
  color: #a8beb7;
}

/* Hamburger icon (hidden on desktop) */
.open-sidebar {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.hamburger {
  padding: 5px;
  width: 35px;
  height: 35px;
}

#signin-button {
  display: inline-block;
  background-color: #07451c;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}

#signin-button:hover {
  background-color: #2e563b;
  transform: translateY(-2px);
}

#signin-button:active {
  transform: translateY(0);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

#signin-button a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}

/* ---------------- MOBILE (SIDEBAR) ---------------- */
@media (max-width: 500px) {
  .mobile_logo_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .nav_center {
    position: static;
    transform: none;
  }

  .nav_logo {
    width: 6em;
    height: 6em;
  }

  .open-sidebar {
    display: block;
    background-blend-mode: multiply;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    background-color: #173042;
    height: 100vh;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
    transition: left 0.3s ease-in-out;
    z-index: 1;
  }

  .nav-bar.show {
    left: 0;
  }

  .nav-bar--close {
    display: block;
  }

  .nav_left,
  .nav_right {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
