* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- TABLET / DESKTOP ---------------- */
/* Header container */
.nav_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: #173042;
}

/* Default Navbar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #173042;
  color: white;
  width: 100%;
  padding: 3rem 2rem;
}

.nav_left,
.nav_right {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.nav_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: whitesmoke; */
}

.nav_logo {
  width: 8em;
  height: 8em;
}

.nav_link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav_link:hover {
  color: #a8beb7;
}
/* Account dropdown */
.nav_account {
  position: relative;
}

.nav_account:hover .dropdown_menu {
  display: block;
}

.account_button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.dropdown_menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #2c4a5b;
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  z-index: 10;
}

.dropdown_menu li {
  margin: 0.5rem 0;
}

.dropdown_menu li a {
  text-decoration: none;
  color: white;
  display: block;
}

.dropdown_menu li a:hover {
  color: #a8beb7;
}

/* Hamburger icon (hidden on desktop) */
.open-sidebar {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.hamburger {
  width: 35px;
  height: 35px;
}

/* ---------------- MOBILE (SIDEBAR) ---------------- */
@media (max-width: 500px) {
  .mobile_logo_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }

  .nav_center {
    position: static;
    transform: none;
  }

  .nav_logo {
    width: 6em;
    height: 6em;
  }

  .dropdown_menu {
    position: static;
    background: none;
    padding: 0;
  }

  .dropdown_menu li a {
    font-size: 16px;
    padding-left: 1rem;
  }

  .open-sidebar {
    display: block;
    background-color: white;
  }

  .nav-bar {
    position: fixed;
    top: 0;
    left: -100%;
    flex-direction: column;
    background-color: #173042;
    height: 100vh;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
    transition: left 0.3s ease-in-out;
    z-index: 1;
  }

  .nav-bar.show {
    left: 0;
  }

  .nav-bar--close {
    display: block;
  }

  .nav_left,
  .nav_right {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
