* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Container */
.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #173042;
  padding: 1rem 2rem;
  color: white;
  position: relative;
  height: 120px;
}

/* Center logo perfectly */
.nav_center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Left and Right sections */
.nav_left,
.nav_right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav_logo {
  width: 8em;
  height: 8em;
}

/* Links */
.nav_link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav_link:hover {
  color: #a8beb7;
}

/*-------------------- Media Queries --------------------*/
/* For tablet */
@media screen and (min-width: 768px) {
}

/* For large devices */
@media screen and (min-width: 1024px) {
}
