/* Home */
#hero-video {
  width: 100%;
  height: auto;
}

.homepage-hero-section {
  position: relative;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(223, 223, 234, 0.445);
}

.homepage-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Segoe UI", sans-serif;
}
.homepage-hero-content h1 {
  font-weight: bolder;
  font-size: 26px;
  color: black;
  margin-bottom: 1.5em;
}
#homepage-button {
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #1b283f, #4a6691);

  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 2px 10px black;
  transition: all 0.3s ease-in-out;
}

#homepage-button a {
  color: white;
}

/* Hover animation */
#homepage-button:hover {
  background: linear-gradient(to bottom, #2c4063, #5b88b7);
  animation: 2s ease-in-out;
  transform: translateY(-2px);
}

/* Click animation */
#homepage-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px black;
}

/* Cards Container */
.grid-cards--container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 400px;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  gap: 20px;
}
.card__image--container {
  background-color: rgb(239, 241, 244);
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px;
  padding: 20px;
  height: 10em;
  width: 10em;
}

.cards-image {
  width: 40px;
  height: auto;
}

.card__paragraph--container {
  align-items: center;
}

.card-message {
  font-size: 16px;
}

.homepage-content--section {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 20px;
  gap: 15px;
}

.homepage-title {
  color: rgb(24, 23, 23);
  font-size: 20px;
}

.homepage-paragraph {
  color: #1b283f;
}

/*-------------------- Media Queries --------------------*/
/* For tablet */
@media screen and (min-width: 768px) {
}

/* For large devices */
@media screen and (min-width: 1024px) {
}
