.main-container {
    min-height: 50vh;
    margin: auto;
    justify-items: center;
    margin-top: 3vh;
    width: 50%;
}

.text-danger {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main-container {
        width: 80%;
    }
}