 .form-container {
     width: 70%;
     margin: auto;
     margin-top: 10vh;
 }

 /* .input-field {
    width: 50%;
} */


 .g-select {
     cursor: pointer;
     color: rgb(110, 110, 110);
 }

 .checks {
     display: block;
 }

 .checkbox-content {
     padding-left: 20px;
 }

 .btn-lg {
     display: block;
     width: 30%;
     margin-top: 20px;
     margin-bottom: 50px;
 }

 @media screen and (max-width: 768px) {
     .form-container {
         width: 80%;
     }

     .btn-lg {
         width: 50%;
     }
 }