 .form-container {
     width: 70%;
     margin: auto;
     margin-top: 10vh;
 }

 /* .input-field {
    width: 50%;
} */

 .notice {
     padding-top: 20px;
     cursor: pointer;
     font-size: 14px;
     margin-top: 10px;
     height: fit-content;
     display: inline-block;

 }

 .notice img {
     margin-right: 5px;
     display: inline-block;
 }

 .notice-details {
     opacity: 0%;
     transition: all ease-in 0.5s;
 }

 .mobile-notice {
     display: none;
 }



 .g-select {
     cursor: pointer;
     color: rgb(110, 110, 110);
     padding: 0;
     margin-top: -25px;
 }

 .checks {
     display: block;
 }

 .checkbox-content {
     padding-left: 20px;
 }

 .btn-lg {
     display: block;
     width: 30%;
     margin-top: 20px;
     margin-bottom: 50px;
 }

 @media screen and (max-width: 1024px) {
     .notice {
         text-decoration: solid underline black;
     }


 }

 @media screen and (max-width: 768px) {
     .form-container {
         width: 80%;
     }

     .btn-lg {
         width: 50%;
     }

     .notice {
         padding-left: 10px;
         padding-right: 10px;
     }

     .notice-details,
     .mobile-notice {
         font-size: 12px;
     }

     select {
         position: relative;
         top: -20px;
     }
 }