#main {
  display: flex;
}

#theCity {
  width: 30vw;
  object-fit: cover;
}

#right-side {
  width: 70vw;
}

.survey-container {
  margin: auto;
  margin-top: 5vh;
  transition: all 0.3s ease-in-out;
}

/* Input and select styling */
.input-field,
.f-select {
  width: 100%;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
  margin-top: 0.75rem;
  font-size: 1rem;
  color: #333;
}

.f-select {
  cursor: pointer;
  color: rgb(110, 110, 110);
  margin-top: 0;
  padding: 0.5rem;
}

label {
  display: block;
  font-weight: 500;
  margin-top: 1rem;
}


/* Give inputs consistent spacing below */
.input-field {
  margin-top: 0.4rem;
}

#error-message,
#success-message {
  display: block;
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

/* ---------- TABLET VIEW ---------- */
@media screen and (max-width: 1024px) {
  .survey-container {
    margin-top: 0;
  }

  #theCity {
    object-fit: cover;
  }

  .btn-lg {
    width: 50%;
  }
}

/* ---------- MOBILE VIEW ---------- */
@media screen and (max-width: 768px) {
  #theCity {
    display: none;
  }

  #right-side {
    width: 95vw;
    margin: auto;
  }

  form {
    padding: 1.5rem;
  }

  label {
    font-size: 0.95rem;
    margin-bottom: 18px;
    margin-top: 30px;

  }

  .input-field,
  .f-select {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .btn-lg {
    width: 70%;
    font-size: 0.9rem;
  }
}